html {
  background-color: #C6D9E3;
}

.result {
  display: none;
  background-image: url("../img/pingpongplay.png");
}

.banner {
  background-image: url("../img/blue-ping-pong-paddle.jpg");
  padding: 45px;
}

.header {
  text-align: center;
  font-size: 100px;
  font-family: sans-serif;
  color: black;
  padding: 0px;
}

#logo {
  opacity: 0.7;
  padding: 30px;
  display: block;
  margin: auto;
}

.sidebar {
  background-color: #B5B6E1;
  float: left;
  width: 30% margin: auto;
  padding: 30px;
  padding-bottom: 300px;
}

.palecolor {
  color: #8D94CF;
}

.main {
  margin: auto;
  padding: 30px;
  float: right;
  width: 70%;
  background-color: #C6D9E3;
}

.main-form {
  padding-bottom: 300px;
}

.btn {
  background-color: #9AACCD;
}
