.banner {
  background-image: url("../img/blue-ping-pong-paddle.jpg");
  padding: 110px;
}

h1 {
  text-align: center;
  font-size: 60;
  font-family: sans-serif;
  color: black;
}

#logo {
  opacity: 0.7;
  padding: 30px;
  display: block;
  margin: auto;
}
